 @charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'eurostile';
    src: url('https://rawcdn.githack.com/marianarpdf/quantumwidgets/9160e655decf880a4807b1b63f91e756183bdbfe/EurostileLTStd-Ex2.otf');
    font-weight: 100;
    font-style: normal;
} 

#headerLiveHolder, #headerLiveTrackHolder {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: 50vh;
    font-family: 'eurostile', monospace;
    text-align: left;
    margin-left: 0%;
    background-color: rgba(0, 0, 0, 0);

}

#headerLiveHolder *, #headerLiveTrackHolder * {
    margin: 0;
}

#headerLiveHolder ul {
    list-style-type: none;
}

#headerLiveHolder h4 {
    font-size: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 100%;
}

#headerLiveTrackHolder span#status-current-show {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 100%;
}

#headerLiveHolder ul li, #headerLiveTrackHolder ul li {
    overflow: hidden;
    position: relative;
    height: auto;
    color: #ffffff;
    line-height: 100%;
}

#headerLiveHolder ul li.current, #headerLiveTrackHolder ul li.current {
    font-weight: bold;
    color: #ffffff;
}


#headerLiveHolder ul li span {
    
}

#headerLiveHolder ul li span#time-elapsed {
}

#headerLiveHolder ul li span#time-elapsed:before {
    content: "e.";
}

#headerLiveHolder ul li span#time-remaining:before {
    content: "r.";
}

#headerLiveTrackHolder span.current {
    font-weight: bold;
    color: #ffffff;
    
    font-size: 100%;
}

#headerLiveTrackHolder span#time-elapsed {
}

#headerLiveTrackHolder span#time-elapsed:before {
    content: "e.";
}

#headerLiveTrackHolder span#time-remaining:before {
    content: "r.";
}

#onAirToday {
    width: 100vw;
    margin: auto;
    border: 0px;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
    height: 100vh;
}

#onAirToday h3 {
    margin: auto;
    padding: 0 0%;
    font-size: 3vw;
    color: #ffffff;
    line-height: 3vh;
    background: #000000;
    border: none;
}

#onAirToday table {
    border-collapse: collapse;
    clear: both;
    padding: 0;
    border: none;
    margin: auto;
    vertical-align: text-center;
}

#onAirToday table tbody {
    color: #ffffff;
    font-size: 3vw;
    margin: auto;
    vertical-align: text-top;
}

#onAirToday table tbody tr {
    height: 100%;
    margin: auto;
    vertical-align: text-top;
    line-height: 3vh;
}

#onAirToday table tbody tr td {
    border-bottom: 0px solid #FFF;
    height: 100%;
    padding-left: 0%;
    font-weight: normal;
    margin: auto;
    vertical-align: text-center;
}

#onAirToday table tbody tr td a {
    text-decoration: none;
}

#onAirToday table tbody tr td a:hover {
    text-decoration: underline;
}

#onAirToday table tbody tr:last-child td {
    border-bottom: none;
}

#onAirToday table tbody tr td.time {
    font-weight: normal;
    color: #ffffff;
}


/* = PROGRAM SCHEDULE ---------------- */


/*
  + Center Column */

#scheduleTabs {
  height: 90vh;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
  border-spacing: 0px;
  align-self: right;
  text-transform: uppercase;
}

#scheduleTabs table {
    clear: both;
    padding: 0px;
    width: 100vw;
    border-spacing: 0px;
    align-self: right;
}

#scheduleTabs ul {
    overflow: hidden;
    height: auto;
    list-style-type: none;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
}

#scheduleTabs ul li {
    float: left;
    height: 3vw;
    margin: 0 auto;
    padding-bottom: 0%;
}

#scheduleTabs ul li a {
    display: block;
    float: left;
    height: 15vw;
    text-align: left;
    margin: 0px auto;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 2vw;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    line-height: 130%;
    text-decoration: none;
    border-spacing: 0px;
    width: auto;
}

#scheduleTabs ul li a:hover {
    color: #FFF;
    text-decoration: bold;
    border-spacing: 0px;
}

#scheduleTabs ul li.ui-tabs-selected a {
    height: 15vw;
    line-height: auto;
    text-decoration: underline;
}

#scheduleTabs table {
    clear: both;
    padding: 2vw;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;

}

#scheduleTabs table thead {
    height: 10%;
    font-size: 1.5vw;
    color: #333333;
    line-height: 150%;
    background-color: #fff;

}

#scheduleTabs table thead tr {
    height: 0px;
    display: table-row;

}

#scheduleTabs table thead tr td {
    padding-left: 2vw;
    color: #00FF66;
    text-transform: uppercase;
    display: none;
}

#scheduleTabs table tfoot {}

#scheduleTabs table tbody {
    font-size: 1.5vw;
    color: #ffffff;
    font-weight: normal;
    margin: auto;
    width: 100vw;
}

#scheduleTabs table tbody tr {
    height: 10%;
}

#scheduleTabs table tbody tr td {
    height: 10%;
    padding-left: 1vw;
    padding-top: 2%;
}

#scheduleTabs table tbody tr td h4 {
    color: #ffffff;
    font-size: 1.5vw;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;

}

#scheduleTabs table tbody tr td ul {
    background: none !important;
    list-style-type: none;
}

#scheduleTabs table tbody tr td ul li {
    float: left;
    height: 10% !important;
    padding: 0 0%;
    color: #cc0000;
    font-weight: normal;
    line-height: 150% !important;
    display: none;
    border-spacing: 0px;
}

#scheduleTabs table tbody tr td ul li a {
    height: 10% !important;
    margin: 0px auto !important;
    padding: 0px !important;
    color: 282828 !important;
    font-weight: normal !important;
    text-transform: uppercase;
    line-height: 20% !important;
    background: none !important;
    border: none !important;
    display: none;
    border-spacing: 0px;
}

#scheduleTabs table tbody tr td ul li a:hover {
    text-decoration: underline;
}

#scheduleTabs.ui-tabs .ui-tabs-hide {
    display: none;
}
