/* ---------- Container for the orbiting circle animation ---------- */
#circle-orbit-container {
  position: relative;
  display: block;
  float: left;

}
/* ---------- Inner orbit ---------- */
#inner-orbit {
  position: absolute;
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
  width: 60vh;
  height: 60vh;
  border: 2vh #000000 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 5s ease infinite;
  animation: spin-right 5s ease infinite;
  
}

/* ---------- Orbiting circle ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 65%;
  left: 75%;
  height: 25%;
  width: 25%;
  border-radius: 100%;
  background-color: #ffffff;
  border: 2vh #000000 solid;
}
/* ---------- Animation ---------- */

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
