#flip {
   -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0%;
  left: 0%;
  height: 70%;
  width: 70%;
  content-align: middle;
  margin-top: 2.5%;
}
/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 200px;
  height: 200px;
  border: 4px #000000 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 5s ease infinite;
  animation: spin-right 5s ease infinite;
  
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 65%;
  left: -5%;
  height: 25%;
  width: 25%;
  border-radius: 100%;
  background-color: #ffffff;
  border: 4px #000000 solid;
}
/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}