/* ---------- Container for the orbiting circle animation ---------- */
#circle-orbit-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0%;
  left: 0%;
  margin-top: 2.5%;
}
/* ---------- Inner orbit ---------- */
#inner-orbit {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10vh;
  height: 10vh;
  border: 4px #000000 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 5s ease infinite;
  animation: spin-right 5s ease infinite;
  
}

/* ---------- Orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 65%;
  left: 75%;
  height: 25%;
  width: 25%;
  border-radius: 100%;
  background-color: #ffffff;
  border: 4px #000000 solid;
}
/* ---------- Animation ---------- */

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
